<div class="row mb-0 mr-0 ml-0">
    <div class="card col-md-6 offset-md-3">
        <div class="card-header text-center">
            <h5>Testing of ngFor</h5>
        </div>
        <div class="card-body ">
            <div class="row">
                <div *ngFor="let lang of langs index as  i">
                    <div class="col">{{i}} -> {{lang}},</div>
                </div>
            </div>
        </div>
        <!-- <div class="card-footer">
            <button class="btn btn-outline-success " style="margin-left: 7px;" (click)="onClick($event)">
                Submit
            </button>
        </div> -->
    </div>
</div>