<div class="card " style="margin-top: 60px;">
    <div class="card-header ">
        <h5 class="text-center">Department Details</h5>
    </div>
    <div class="card-body">
        <h5>Select department with id {{departmentId}} </h5>
        <a class="btn btn-outline-danger" style="margin-right:10px;" (click)='gotoDepartment()'>Back</a>
        <a class="btn btn-outline-secondary " style="margin-right:10px;" (click)='previous()'>Previous</a>
        <a class="btn btn-outline-secondary" (click)='next()'>Next</a>
        
    </div>
</div>