<div class="card" style="margin-top: 60px;">
    <div class="card-header">
        <h5 class="text-center">Employee List</h5>
    </div>
    <div class="card-body">
        <ul class="items" *ngFor="let employee of employees">
            <li class="ms-4 h5"><h5>{{employee.firstName | lowercase}} <a href="/departments">View</a>/li></h5>
        </ul>
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-info m-2 float-start" (click)="viewDetails($event)">View details</button>
        <button class="btn btn-outline-danger m-2 float-start" (click)="hideDetails($event)">Hide details</button>
    </div>
    <div *ngIf="show">
        <app-employee-details></app-employee-details>
    </div>
</div>